/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#gameBoard{
	width: 100%;
	margin: 0 auto;
	
}*/
/*.gameSquare{
	text-align: center;
	display: inline-block;
	width: 33.33333%;
	height: 
	border-color: black;
	border-width:2px; 
}*/
h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
#square0{
	border-left-color: white;
	border-top-color: white;
}
#square1{
	border-top-color: white;
}
#square2{
	border-right-color: white;
	border-top-color: white;
}
#square3{
	border-left-color: white;
}
#square4{
	
}
#square5{
	border-right-color: white;
}
#square6{
	border-left-color: white;
	border-bottom-color: white;
}
#square7{
	border-bottom-color: white;
}
#square8{
	border-right-color: white;
	border-bottom-color: white;
}
/*#GameState{
	position: absolute;
	width: 500px;
	height: 500px;
}*/

.clear {
  clear: both;
}

#gameBoard {
  width: 700px;
  margin: auto;
  padding: 10px;
}

.gameSquare {
  width: 200px;
  height: 200px;
  float: left;
  border-color: black;
  border-width:2px;
  border-style:solid;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
.gameSquare:hover{
	border-color: green;
}
#winMessage{
	position: absolute;
	width: 100%;
	margin: 0 0 0 0;
	top: 50%;
	text-align: center;
	background-color: gray;
}
#winMessage >h1{
	font-size: 40px;
	padding: 30px;
	margin: -50px 0 0 -50px;
	background-color: gray;
}
#resetButton{
	width: 700px;
	position: absolute;
	bottom: 20px;
	text-align: center;
	margin-left:-20px;
}
#resetButton >p {
	width: 100%;
}
#resetButton >p{
    text-decoration: none;
    display: inline-block;
    border-bottom: 0px solid transparent;  
    width: 50px;
    transition: 0.2s ease;
    height: 20px;
}

#resetButton > p:hover {
  border-bottom: 3px solid black;
}
#leftSide-X{
	position: absolute;
	width: 200px;
	height: 100%;
	background: black;
}
#rightSide-O{
position: absolute;
width: 200px;
height: 100%;
background-color: black;
right: 0px;
}
